<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_retailer_details</servlet-name>
        <servlet-class>update_retailer_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_vendor_details</servlet-name>
        <servlet-class>update_vendor_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vendor_add_products</servlet-name>
        <servlet-class>vendor_add_products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_listmodels</servlet-name>
        <servlet-class>admin_listmodels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPricesVendorsPO</servlet-name>
        <servlet-class>GetPricesVendorsPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_raise_po</servlet-name>
        <servlet-class>admin_raise_po</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancel_po</servlet-name>
        <servlet-class>cancel_po</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vendor_order_status</servlet-name>
        <servlet-class>vendor_order_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet5</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lm_confirm_material_arrival</servlet-name>
        <servlet-class>lm_confirm_material_arrival</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approve_pay_ven</servlet-name>
        <servlet-class>approve_pay_ven</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vendor_pay_confirm</servlet-name>
        <servlet-class>vendor_pay_confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vendor_product_edit</servlet-name>
        <servlet-class>vendor_product_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_add_cat</servlet-name>
        <servlet-class>admin_add_cat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_child_cat</servlet-name>
        <servlet-class>return_child_cat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_modelno_admin</servlet-name>
        <servlet-class>return_modelno_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_cost_admin</servlet-name>
        <servlet-class>return_cost_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_qty_admin</servlet-name>
        <servlet-class>return_qty_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_mrp_admin</servlet-name>
        <servlet-class>return_mrp_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_product_toact_admin</servlet-name>
        <servlet-class>add_product_toact_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_pro_edit</servlet-name>
        <servlet-class>admin_pro_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_act_inv_model</servlet-name>
        <servlet-class>return_act_inv_model</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_qty_act_inv</servlet-name>
        <servlet-class>return_qty_act_inv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_add_quantity</servlet-name>
        <servlet-class>admin_add_quantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlahBlah</servlet-name>
        <servlet-class>BlahBlah</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ret_pace_order</servlet-name>
        <servlet-class>ret_pace_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accept_ret_order</servlet-name>
        <servlet-class>accept_ret_order</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_retailer_details</servlet-name>
        <url-pattern>/update_retailer_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_vendor_details</servlet-name>
        <url-pattern>/update_vendor_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vendor_add_products</servlet-name>
        <url-pattern>/vendor_add_products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_listmodels</servlet-name>
        <url-pattern>/admin_listmodels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPricesVendorsPO</servlet-name>
        <url-pattern>/GetPricesVendorsPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_raise_po</servlet-name>
        <url-pattern>/admin_raise_po</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancel_po</servlet-name>
        <url-pattern>/cancel_po</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vendor_order_status</servlet-name>
        <url-pattern>/vendor_order_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet5</servlet-name>
        <url-pattern>/NewServlet5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lm_confirm_material_arrival</servlet-name>
        <url-pattern>/lm_confirm_material_arrival</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approve_pay_ven</servlet-name>
        <url-pattern>/approve_pay_ven</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vendor_pay_confirm</servlet-name>
        <url-pattern>/vendor_pay_confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vendor_product_edit</servlet-name>
        <url-pattern>/vendor_product_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_add_cat</servlet-name>
        <url-pattern>/admin_add_cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_child_cat</servlet-name>
        <url-pattern>/return_child_cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_modelno_admin</servlet-name>
        <url-pattern>/return_modelno_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_cost_admin</servlet-name>
        <url-pattern>/return_cost_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_qty_admin</servlet-name>
        <url-pattern>/return_qty_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_mrp_admin</servlet-name>
        <url-pattern>/return_mrp_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_product_toact_admin</servlet-name>
        <url-pattern>/add_product_toact_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_pro_edit</servlet-name>
        <url-pattern>/admin_pro_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_act_inv_model</servlet-name>
        <url-pattern>/return_act_inv_model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_qty_act_inv</servlet-name>
        <url-pattern>/return_qty_act_inv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_add_quantity</servlet-name>
        <url-pattern>/admin_add_quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlahBlah</servlet-name>
        <url-pattern>/BlahBlah</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ret_pace_order</servlet-name>
        <url-pattern>/ret_pace_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accept_ret_order</servlet-name>
        <url-pattern>/accept_ret_order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
</web-app>
