@font-face
{
    font-family: Roboto;
    src:url("Titillium/TitilliumText25L.otf");
}
*
{
    margin: 0px;
    
}
body
{
    font-family:Tahoma;
    font-size: 14px;
     /*background: -webkit-radial-gradient(circle, #FFB300, #FFC640);*/
     background: #FFECDA;    
            
}
input{

}
h1
{
    background-color: maroon;
    color:whitesmoke;
    padding: 10px;
    font-family: Tahoma;
}

h2{
    color:black;
    padding-left:20px;
    font-family: Tahoma;
}

a{
    text-decoration: none;
    color:black;
    
}

a:hover{
    text-decoration: underline;
}

th{
    font-size:16px;
    background-color: maroon;
    color:white;
    padding: 5px;
}




ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
    
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: maroon;
    margin-left: 1px;
    white-space: nowrap;
}
ul li a:hover {
background: maroon;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: maroon; }
li:hover li a:hover {
    background: maroon;
}
table
{
    border-collapse: collapse;
  
}
td
{
    padding: 5px;
    
}
